#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  transform: initial;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  transform: initial;
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transition-timing-function: linear;
  -webkit-transition-timing-function: 0.5s;
  transition-duration: inherit;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3b5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099ff;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}
