<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-success">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left ">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-5">
        <!-- Content -->
        <h5 class="text-uppercase text-white">Site Verde</h5>
        <p class="text-white container">
          Verde é uma empresa de consultoria em produção agropecuária,
          idealizada no ano 2000 por profissionais Formada por uma equipe
          multidisciplinar de 20 profissionais com refinada capacidade técnica,
          visão sistêmica e comprometimento com o resultado. São especialistas
          de formação em Engenharia Agronômica, Zootecnia, Administração de
          Empresas, Contabilidade e Técnico Agrícola prontos a apoiar desde a
          elaboração do projeto até a implementação das melhores práticas
          agrícolas.
        </p>
      </div>
      <div class="col-md-7">
        <app-redes-sociais></app-redes-sociais>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="footer-copyright text-center py-3 text-white col 8">
      © 2019 Copyright:
      <a> QuebraMidia</a>
    </div>
  </div>
  <a id="subirTopo" class="img-fluid">
    ^ <br />
    subir
  </a>
</footer>
