section.galleryitem-w3ls p.blog-p2 {
  color: rgb(204, 198, 189);
}

section.galleryitem-w3ls p.blog-p2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  padding-bottom: 30px;
  color: #999;
}
section.galleryitem-w3ls h4 {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 15px;
  color: #475025;
  font-family: "Poiret One", cursive;
}
