<div class="col-lg-10 col-lg-offset-1 container">
  <div class="spacing"></div>
  <br />

  <h4 class="text-center">Empresa: ViaVerde</h4>
  <p class="blog-p2 container mx-auto d-block">
    A ViaVerde é uma empresa de consultoria em produção agropecuária, idealizada
    no ano 2000 por profissionais da ESALQ/USP. Formada por uma equipe
    multidisciplinar de 20 profissionais com refinada capacidade técnica, visão
    sistêmica e comprometimento com o resultado. São especialistas de formação
    em Engenharia Agronômica, Zootecnia, Administração de Empresas,
    Contabilidade e Técnico Agrícola prontos a apoiar desde a elaboração do
    projeto até a implementação das melhores práticas agrícolas, com
    criatividade, inovação e confiança. Além da ampla experiência em consultoria
    parte do nosso corpo técnico é produtor rural e conhece a realidade,
    desafios e oportunidades da produção agropecuária. Buscando sempre a
    inovação, realizamos a adequação do sistema produtivo para as diferentes
    realidades encontradas no campo, como forma de atingir rentabilidade.
    Tornamos o negócio rural produtivo e lucrativo, mantendo o respeito ao ser
    humano e ao recursos naturais.
  </p>
  <h4 class="text-center">Missão</h4>
  <p class="blog-p2 container">
    “Promover o bem estar e a geração de riquezas, desenvolvendo sistemas
    agropecuários de produção tropical. Incentivar tecnologias adequadas com o
    uso consciente e sustentável dos recursos socioambientais.”
  </p>
  <h4 class="text-center">Visão</h4>
  <p class="blog-p2 container">
    “Excelência na prestação de serviços e o reconhecimento como empresa líder
    na difusão de tecnologia agropecuária tropical.”
  </p>
  <h4 class="text-center">Valores</h4>
  <p class="blog-p2 container">
    Ética<br />Compromisso<br />Isenção<br />Integridade<br />Respeito ao ser
    humano e ao meio ambiente
  </p>
</div>
