<br />
<br />
<br />
<h1 class="text-center">Bem vindo ao Site Verde!</h1>

<app-carrosel></app-carrosel>
<br />

<div class="mx-auto d-block container">
  <div class="row">
    <div class="col-7">
      <h4 class="container text-center">Jequitibá-rosa</h4>
      <p class="blog-p2 mx-auto d-block">
        É considerada a maior árvore nativa do Brasil, porque pode atingir até
        50 metros de altura e um tronco com diâmetro de até sete metros[10].
        Suas folhas membranáceas medem até 4 x 7 cm. As flores, pequenas, que
        surgem de dezembro a fevereiro, são de cor creme. O fruto é um pixídio
        lenhoso, cuja abertura espontânea, em agosto-setembro, libera as
        pequenas sementes de dispersão eólia. Um quilograma contém cerca de 22
        mil sementes, que germinam em ambiente semi-sombreado, emergindo o broto
        entre 12 e 20 dias.
      </p>
    </div>
    <div class="galeria">
      <img
        class="rounded img-fluid"
        src="../../../assets/jeq_rosa.jpeg"
        alt="..."
      />
    </div>
  </div>
  <br />
</div>
