<nav
  class="navbar navbar-expand-lg
  navbar-light bg-success
  text-white navbar-inverse
  fixed-top"
>
  <a class="navbar-brand text-white" href="#">
    Verde
    <img
      src="../../../assets/tree.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavDropdown">
    <ul class="navbar-nav text-white">
      <li class="nav-item active ">
        <a class="nav-link text-white " href="#"
          >Home<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Empresa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Contato</a>
      </li>
    </ul>
    <div>
      <div class="nav-item">
        <a class="btn btn-outline my-2 my-sm-0 text-white col-9" href="#"
          >Registre-se
        </a>
      </div>
      <div>
        <a class="btn btn-outline-light my-2 my-sm-0 col" href="#"
          ><i class="fa fa-user"></i> Login
        </a>
      </div>
    </div>
  </div>
</nav>
