<br />
<br />
<br />
<h1 class="text-center">Galeria</h1>
<!--Carousel Wrapper-->
<div>
  <div
    id="video-carousel-example"
    class="carousel slide carousel-fade row container-fluid"
    data-ride="carousel"
    class="carousel-inner"
    role="listbox"
  >
    <div class="carousel-item active  ">
      <video class="video-fluid container-fluid " autoplay loop muted>
        <source
          src="https://mdbootstrap.com/img/video/Agua-natural.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>
</div>
<!--Carousel Wrapper-->
