<br />
<br />
<br />
<h1 class="text-center">Contato</h1>

<section class="container">
  <h3 class="text-center slideanim slide">
    Site Verde: Inovação com Confiança
  </h3>
  <p class="text-center slideanim slide">
    Para entrar em contato conosco use os dados abaixo informados, ou se
    preferir preencha o formulário.
  </p>
  <div class="container row">
    <div class="col -12">
      <div class="img">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d29889.404101237684!2d-47.3979783!3d-20.5399985!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1553605012913"
          width="100%"
          height="550"
          frameborder="0"
          style="border:0"
          allowfullscreen
        ></iframe>
      </div>
      <br />
      <div class="col-md text-center">
        <h4 class="col-md text-center">Site Verde Consultoria</h4>
        <p class="col-md text-center">Rua Mariana Amaral, 138 - Narnia</p>
        <p class="col-md text-center">São Sebastião do Paraíso,GR</p>
        <p class="col-md text-center">Cep 37.950-000</p>
        <p class="col-md text-center">
          <b>Tel/Fax: </b> (16) 3236 9999 / (35) 3665 6647
        </p>
      </div>
    </div>
  </div>
</section>

<br />
<section class="contact-form bg-info">
  <br />
  <h3 class="text-center slideanim slide text-white">
    Preencha o Formulário Abaixo
  </h3>
  <p class="text-center slideanim slide text-white">
    Responderemos sua dúvida o mais breve possível.
  </p>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 slideanim slide">
        <form
          action="/contatos"
          id="contact-form"
          method="post"
          accept-charset="utf-8"
        >
          <div style="display:none;">
            <input type="hidden" name="_method" value="POST" />
          </div>
          <div class="row">
            <div class="form-group col-lg-4">
              <div class="input text required text-white">
                <label for="ContatoNome">Nome</label
                ><input
                  name="data[Contato][nome]"
                  class="form-control"
                  type="text"
                  id="ContatoNome"
                  required="required"
                />
              </div>
            </div>
            <div class="form-group col-lg-4">
              <div class="input email required text-white">
                <label for="ContatoEmail">E-mail</label
                ><input
                  name="data[Contato][email]"
                  class="form-control"
                  type="email"
                  id="ContatoEmail"
                  required="required"
                />
              </div>
            </div>
            <div class="form-group col-lg-4">
              <div class="input tel text-white">
                <label for="ContatoTelefone">Telefone / Celular</label
                ><input
                  name="data[Contato][telefone]"
                  class="form-control"
                  type="tel"
                  id="ContatoTelefone"
                  autocomplete="off"
                />
              </div>
            </div>
            <div class="form-group col-lg-12">
              <div class="input textarea required text-white">
                <label for="ContatoMensagem">Mensagem</label
                ><textarea
                  name="data[Contato][mensagem]"
                  rows="6"
                  class="form-control"
                  cols="30"
                  id="ContatoMensagem"
                  required="required"
                ></textarea>
              </div>
            </div>
            <div class="form-group col-lg-12">
              <div class="submit">
                <input
                  class="btn btn-light text-dark"
                  type="submit"
                  value="Enviar"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<br />
<br />
