<br />
<br />
<br />
<br />

<div class="card border-success mb-3 container-fluid bg-white" style="max-width: 18rem;">
  <div class="card-header text-center bg-success text-white">
    <b>Logar-se</b>
  </div>
  <div class="card-body text-success">
    <h5 class="card-title">Logue-se para melhor aproveitar o site.</h5>
    <form>
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInput">Email</label>
          <div class="input-group mb-1">
            <input
              type="text"
              class="form-control mb-2"
              id="inlineFormInput"
              placeholder="Email"
            />
          </div>
        </div>
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Senha</label>
          <div class="input-group mb-2">
            <input
              type="text"
              class="form-control"
              id="inlineFormInputGroup"
              placeholder="Senha"
            />
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="autoSizingCheck"
            />
            <label class="form-check-label" for="autoSizingCheck">
              Lembrar-me
            </label>
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-success mb-2 text-white">
            <b>Entrar</b>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
